.articleFilters {
  width: 100%;
  padding: 8px 12px;
}

.articleFilters-header {
  position: relative;
  display: block;
  text-decoration: none;
  padding: 4px 8px 4px 4px;
  margin: 0;
  color: rgba(0,0,0,0.9);
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.articleFilters-body {
}