@import '../../scss/theme';

.transition-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.loading {
  flex: 1;
  padding: 16px;
}

.loading.enterActive {
  // position: absolute;
  top: 0;
  left: 0;
}

.enter {
  position: relative;
  transform: translateX(100px);
  opacity: 0.01;
}

.enter.enterActive {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.3s $anim-easing, transform 0.3s $anim-easing;
}

.leave {
  transform: translateX(0);
  opacity: 1;
}

.leave.leaveActive {
  position: absolute;
  top: 16px;
  left: 48px;
  transform: translateX(-100px);
  opacity: 0;
  transition: transform 0.3s $anim-easing, opacity 0.3s $anim-easing;
}

.appear {
  opacity: 0.01;
}

.appear.appearActive {
  opacity: 1;
  transition: opacity 0.5s $anim-easing;
}