@import '../../../scss/theme';

.progressIndicator {
  position: relative;
  z-index: 101;
  background-color: $primary-2;
  height: 4px;
}

.progressIndicator.animatable {
  transition: width 0.4s $anim-easing, opacity 0.1s linear;
}