.ripple-container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.ripple-container:hover {
  background-color: rgba(155, 155, 155, 0.13);
}

.ripple-origin {
  position: absolute;
  z-index: 9999999;
  background: rgba(155, 155, 155, 0.3);
  border-radius: 50%;
  pointer-events: none;
}

.ripple-origin.animatable {
  transition: transform 0.3s ease-in, opacity 0.6s ease-in;
}

.ripple-origin.out {
  opacity: 0;
}