@import '../../../scss/theme';

.switch-container {
  display: inline-block;
}

.button {
  background: none;
  border: none;
  outline: none;
}

.input {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.switch-label {
  cursor: pointer;    
  color: $drawer-subheading;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  transition: color .2s $anim-easing;

  > span {
    margin-right: 16px;
  }
}

.switch-container.active {
  .switch-label {
    color: $primary-2;
  }
}