@import '../../../scss/theme';

.dialog-container {
  display: none;
  position: fixed;
  z-index: 105;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.3);

  .dialog {
    position: relative;
    max-width: 90%;
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.4);

    .header {
      padding: 24px;

      .title {
        margin: 0;
        font-size: 20px;
        font-weight: 500;
      }
    }
    .body {
      padding: 0 24px 24px;

      .body-text {
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: 1.5;
        color: #8d8d8d;
      }
    }

    .footer {
      padding: 4px;
      display: flex;
      justify-content: flex-end;

      .actions {
        .action {
          position: relative;
          cursor: pointer;
          outline: none;
          background: none;
          border: none;
          height: 36px;
          line-height: 36px;
          padding: 0 16px;
          color: #474747;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 500;
          margin: 4px;
        }
        .action:nth-of-type(2) {
          color: $primary-2;
        }
      }
    }
  }
}

.dialog-container.appear,
.dialog-container.enter {
  opacity: 0;

  .dialog {
    opacity: 0;
    transform: scale(0.2) translateY(100vh);
  }
}

.dialog-container.appearActive,
.dialog-container.enterActive {
  opacity: 1;
  transition: opacity 0.3s $anim-easing;
  
  .dialog {
    opacity: 1;
    transform: scale(1) translateY(0px);
    transition: opacity 0.3s $anim-easing, transform 0.3s $anim-easing;
  }
}

.dialog-container.leave {
  opacity: 1;
  
  .dialog {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}

.dialog-container.leaveActive {
  opacity: 0;
  transition: opacity 0.3s $anim-easing;

  .dialog {
    opacity: 0;
    transform: scale(0.2) translateY(100vh);
    transition: opacity 0.3s $anim-easing, transform 0.3s $anim-easing;
  }
}
