@import '../../../scss/theme';
@import '../../../scss/typography';

.result-container {
  width: 100%;
  position: relative;
}

.result {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 4px 0 25px 0;
  cursor: pointer;
  text-decoration: none;

  @media (max-width: $screen-sm-max) {
    padding: 0px 16px 0px 64px;
    border-bottom: none;
  }

  b {
    font-weight: 400;
  }
}

.ripple {
  @media (min-width: $screen-sm-max) {
    display: none;
  }
}

.result-title {
  @include heading-2();
  color: $primary-light;

  @media (max-width: $screen-sm-max) {
    @include regular-14();
    color: $body-text;
    margin: 8px 0;
  }
}

.result-url {
  @include regular-14();
  color: $accent;
  @include ellipsis();

  @media (max-width: $screen-sm-max) {
    display: none;
  }
}

.result-route {
  @include light-14();
  color: $body-text;

  @media (max-width: $screen-sm-max) {
    display: none;
  }
}
