@import '../../../scss/theme';

.panel {
  border: 1px solid #eaeaea;
  border-radius: 3px 3px 0 0;
  margin: 16px 0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.panel-title {
  user-select: none;
  cursor: pointer;
  display: flex;
  width: 100%;
  border: none;
  align-items: center;

  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  background: rgb(246, 248, 250);
  color: $primary-1;

  padding: 8px;
  margin: 0;

  .filler {
    flex: 1;
  }
  .expand {
    fill: $primary-1;
  }
  .expand.closed {
    transform: rotate(180deg);
  }
}

.panel-body--wrapper {
  border-top: 1px solid #eaeaea;
  overflow: hidden;
  opacity: 1;
  transition: max-height 0.4s $anim-easing, opacity 0.3s $anim-easing;
}
.panel-body--wrapper.closed {
  opacity: 0;
}

.panel-body--content {
  padding: 16px;

  p, ol {
    margin: 0;
  }
}