@import '../../../scss/theme';

.header {
  position: relative;
  top: -1px;
  z-index: 100;
  width: 100%;
  background-color: $primary-1;
  overflow: hidden;
  @include headerShadow();

  transition: max-height 0.2s cubic-bezier(.4,0,.2,1);
}

.header-contentWrapper {
  color: $drawer-subheading;
  float: right;
  padding: 20px 24px 20px 20px;

  span {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 16px;
  }
}