@import '../../../../scss/theme';


.pageList-item {
  display: block;
  position: relative;
  text-decoration: none;
  color: #333;
  padding: 5px 16px 5px 24px;
  cursor: pointer;

  transition: all .1s linear;
}
.pageList-item:hover, .pageList-item.active {
  background-color: $primary-1;
}
