@import '../../../../scss/theme';

.drawer-toggle {
    display: flex;
    position: relative;
    z-index: 98;
    padding: 4px;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.drawer-toggle i {
    font-size: 24px;
    color: $text-2;
}