@import '../../../scss/theme';
@import '../../../scss/typography';

.label {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 40px;
  overflow: hidden;
  transition: all 0.1s $anim-easing;
}

.input-wrapper {
  position: relative;
  width: 100%;

  &:after {
    display: block;
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0px;
    height: 3px;
    background-color: $primary-light;
    width: 10px;
    visibility: hidden;
  
    transition: all .2s $anim-easing;
  }
}
.input {
  position: relative;
  height: 40px;
  width: 100%;
  padding: 8px 28px 8px 8px; 
  border: none; 
  outline: none;  
  background: none;  
  color: $primary-dark;  
  border-bottom: 1px solid $border-color;
  overflow: hidden;
  @include regular-14();;  
}

.label.opened {
  width: 360px;

  @media (max-width: $screen-sm-max) {
      width: 100%;
  }
  
  .input-wrapper {
    @media (max-width: $screen-sm-max) {
      margin-left: 0;
    }
  }

  .icon--close {
    opacity: 1;
  }
  .icon--search {
    @media (max-width: $screen-sm-max) {
      display: none;
    }  
  }
}

.label.focused {
  .input-wrapper::after {
    visibility: visible;
    width: 100%;
  }
}