// colour palette
$primary-light: #00b4a2;
$primary-dark: #28353e;
$accent: #007468;
$body: #fff;
$body-text: #373737;
$drawer-bg: #fff;
$drawer-subheading: #4d4d4d;
$border-color: #e6e6e6;

// constants
$anim-easing: cubic-bezier(0.4, 0, 0.2, 1);
$screen-sm-max: 500px;

// animations
@keyframes fadeIn {
    from { 
        opacity: 0;
        transform: scale(1.02);
    }
    to { 
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes flyInFromLeft {
    from { 
        opacity: 0; 
        transform: translateX(-20px);
    }
    to { 
        opacity: 1; 
        transform: translateX(0);
    }
}

@keyframes flyInFromRight {
    from { 
        opacity: 0; 
        transform: translateX(20px);
    }
    to { 
        opacity: 1; 
        transform: translateX(0);
    }
}

// mixins
@mixin ellipsis() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin header() {
    background: linear-gradient($primary-light, transparent); 
}