@import '../../../scss/theme';
@import '../../../scss/typography';

.panel {
  border-radius: 0px;
  margin-top: 16px;
  margin-bottom: 16px;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .1)
}

.panel-title {
  display: flex;
  align-items: center;  
  width: 100%;
  border: none;
  user-select: none;
  cursor: pointer;

  background: #fff;
  color: $primary-dark;
  @include subheading();
  line-height: 24px;

  padding: 16px;
  margin: 0;

  .filler {
    flex: 1;
  }
  .expand {
    fill: $primary-dark;
    transform: rotate(180deg);
  }
  .expand.closed {
    transform: rotate(0deg);
  }
}

.panel-body--wrapper {
  overflow: hidden;
  opacity: 1;
  transform: translateY(0);
  transition: max-height 0.3s $anim-easing, transform 0.3s $anim-easing, opacity 0.2s $anim-easing;

  * {
    user-select: none; 
  }
}
.panel-body--wrapper.closed {
  transform: translateY(-30px);
  opacity: 0;
}

.panel-body--content {
  padding: 8px 16px 16px 16px;

  p, ol {
    margin: 0;
  }
}