@import '../../../scss/theme';

@keyframes grow {
    0% { 
        transform: scale(0);
        opacity: 0; 
    }
    100% { 
        transform: scale(1); 
        opacity: 1;
    }
}

.searchOpen .icon--menu {
    @media (max-width: $screen-sm-max) {
        display: none;
    }
}

.icon--back {
    display: none;
}
.searchOpen .icon--back {
    animation: grow 0.2s 1;
    -webkit-animation-timing-function: $anim-easing;

    @media (max-width: $screen-sm-max) {
        display: block;
    }
}