@import '../../../scss/theme';
@import '../../../scss/typography';

.switch-container {
  display: inline-block;
}

.button {
  background: none;
  border: none;
  outline: none;
}

.input {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.switch-label {
  display: flex;
  align-items: center;
  @include subheading();  
  cursor: pointer;    
  color: $drawer-subheading;
  transition: color .2s $anim-easing;

  > span {
    margin-right: 16px;
  }
}

.switch-container.active {
  .switch-label {
    color: $primary-light;
  }
}