@import '../../scss/theme';

.header {
    flex: none;    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    
    padding: 16px;
    background: none;
    z-index: 100;

    &:before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include header();
        opacity: 0.2;        
    }
}

.header-section:nth-child(2) {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.header-icon {
    position: relative;
    flex-shrink: 0;
    width: 40px;
    padding: 8px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    outline: none;
    background: none;
    border: none;
    z-index: 98;    

    svg {
        fill: $primary-dark;
    }
}
