@import '../../scss/theme';

.drawer-container {
  position: relative;
  z-index: 99;
  height: 100%;
  width: 40%;
  max-width: 260px;

  @media (max-width: $screen-sm-max) {
    position: fixed;
    z-index: 102;
    left: 0;
    top: 0;
    width: 100%;
    max-width: none;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
  }
}
.drawer-container::after {
  @media (max-width: $screen-sm-max) {
    display: block;
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);

    opacity: 0;
    will-change: opacity;
    transition: opacity 0.4s $anim-easing;
  }
}
.drawer-container.active {
  @media (min-width: $screen-sm-max) {
    display: none;
  }
  @media (max-width: $screen-sm-max) {
    pointer-events: auto; 
  }
}
.drawer-container.active::after {  
  @media (max-width: $screen-sm-max) {
      opacity: 1;
  }
}
.drawer {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform 0.4s $anim-easing;

  @media (min-width: $screen-sm-max) {
    // border-right: 1px solid $border-color;
    // box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
  }
  @media (max-width: $screen-sm-max) {
    box-shadow: 2px 0 12px rgba(0,0,0,0.4);
    left: 0;
    top: 0;
    max-width: 400px;
    width: 80%;
    transform: translateX(-107%);
    will-change: transform;
  }
}
.drawer.draggable {
  transition: transform 0.13s cubic-bezier(0,0,0.3,1);
}
.drawer-container.active .drawer {
  @media (max-width: $screen-sm-max) {
    transform: translateX(0px);
  }
}
.drawer-homeContainer {
  padding: 8px 0;
  border-bottom: 1px solid $border-color;
  background-color: $drawer-bg;
}
.drawer-home {
  position: relative;
  overflow: hidden;
  padding: 0 24px;
  height: 40px;
  text-decoration: none;
  display: flex;
  align-items: center;

  svg {
    margin-right: 27px;
    fill: $drawer-text;
  } 
  span {
    color: $drawer-text;
  }
}
.drawer-home.active {
  i {
    color: $primary-2;
  }
  span {
    font-weight: 500;
    color: $primary-2;
  }
}
.drawer-logo {
  display: none;
  background-color: $drawer-bg;

  img {
    width: 100%;
  }
}
.drawer-divider {
  border: 1px solid $border-color;
  border-bottom: none;
  margin: 0;
}
.search-container {
  padding: 16px;
  background-color: $border-color;
  border-bottom: 1px solid $border-color;
}
.drawer-scrollWrapper {
  
}
.articleFilters-wrapper {
  background-color: $drawer-bg;
}
.pageList-wrapper {
  background-color: $drawer-bg;
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
}
.pageList {
  // min-height: 900px;
}
.drawer-footer {
  height: 0px;
  background-color: $drawer-bg;
}
