@import '../../scss/theme';

.main {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: $body-bg;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.progressBar {
  /* TEMP */
  display: none;
  /* *** */

  position: relative;
  z-index: 96;
  width: 100%;
  background-color: $primary-1;
  height: 5px;
  transition: width 0.2s $anim-easing;
}
.content-wrapper {
  flex: 1;
  position: relative;
  z-index: 9;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  display: inline-block;
}
.flex-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}
.footer {
  position: relative;
  z-index: 10;
  padding: 16px;
  width: 100%;
  background: $drawer-bg;
  color: $primary-1-text;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.2);

  .section {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    word-break: break-word;

    @media (max-width: $screen-sm-max) {
      width: 100%;
    }

    p {
      color: $primary-1-text;

      a {
        color: $primary-2;
        text-decoration: none;
      }

      i {
        font-size: 24px;
        margin-right: 8px;
        transition: all 0.2s linear;
      }
      i:hover {
        opacity: 0.8;
      }
      i:active {
        transform: scale(0.94);
      }
      .facebook {
        color: #3B5998;
      }
      .twitter {
        color: #4099FF;
      }
    }

    h1 {
      font-size: 16px;
    }
  }

  .section:nth-child(1) {
    @media (min-width: $screen-sm-max) {
      padding-right: 24px;
      border-right: 1px solid $border-color;
    }
  }
  .section:nth-child(2) {
    @media (min-width: $screen-sm-max) {
      padding-left: 24px;
    }
  }
}

.transition-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.enter {
  opacity: 0.01;
}

.enter.enterActive {
  opacity: 1;
  transition: opacity 0.3s $anim-easing, transform 0.3s $anim-easing;
}

.leave {
  opacity: 0;
  position: absolute;
}

.leave.leaveActive {
  opacity: 0.01;
  transition: transform 0.3s $anim-easing, opacity 0.2s $anim-easing;
}

.appear {
  opacity: 0.01;
}

.appear.appearActive {
  opacity: 1;
  transition: opacity 0.5s $anim-easing;
}