@import '../../scss/theme';

.main {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: auto;
  background-color: $body-bg;
  -webkit-overflow-scrolling: touch;
}
.progressBar {
  /* TEMP */
  display: none;
  /* *** */

  position: relative;
  z-index: 96;
  width: 100%;
  background-color: $primary-1;
  height: 5px;
  transition: width 0.2s $anim-easing;
}
.content-wrapper {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  flex: 1;
  position: relative;
  z-index: 9;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.page-view {
  flex: 1;

  &.loading-view {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.transition-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.enter {
  opacity: 0.01;
}

.enter.enterActive {
  opacity: 1;
  transition: opacity 0.3s $anim-easing, transform 0.3s $anim-easing;
}

.leave {
  opacity: 0;
  position: absolute;
}

.leave.leaveActive {
  opacity: 0.01;
  transition: transform 0.3s $anim-easing, opacity 0.2s $anim-easing;
}

.appear {
  opacity: 0.01;
}

.appear.appearActive {
  opacity: 1;
  transition: opacity 0.5s $anim-easing;
}