@import '../../scss/theme';

.main {
  position: relative;
  flex: 1;
  display: inline-block;
  min-height: 100%;
  // flex-direction: column;
  background-color: $body-bg;
  overflow: auto;
}
.progressBar {
  /* TEMP */
  display: none;
  /* *** */

  position: relative;
  z-index: 96;
  width: 100%;
  background-color: $primary-1;
  height: 5px;
  transition: width 0.2s $anim-easing;
}
.content-wrapper {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.footer {
  padding: 16px;
  width: 100%;
  background: $primary-1;
  color: $primary-1-text;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.2);

  .section {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    word-break: break-word;

    @media (max-width: $screen-sm-max) {
      width: 100%;
    }

    p {
      color: $primary-1-text;

      a {
        color: $primary-2;
        text-decoration: none;
      }

      i {
        font-size: 24px;
        margin-right: 8px;
        transition: all 0.2s linear;
      }
      i:hover {
        opacity: 0.8;
      }
      i:active {
        transform: scale(0.94);
      }
      .facebook {
        color: #3B5998;
      }
      .twitter {
        color: #4099FF;
      }
    }

    h1 {
      font-size: 16px;
    }
  }

  .section:nth-child(1) {
    @media (min-width: $screen-sm-max) {
      padding-right: 24px;
      border-right: 1px solid rgba(0,0,0,0.1);
    }
  }
  .section:nth-child(2) {
    @media (min-width: $screen-sm-max) {
      padding-left: 24px;
    }
  }
}
