@import '../../../../../scss/theme';


.pageList-item {
  display: block;
  position: relative;
  text-decoration: none;
  color: $drawer-text;
  padding: 0px 8px 0px 32px;
  cursor: pointer;
  line-height: 40px;
  @include ellipsis();

  transition: all .1s linear;
}
.pageList-item:hover, .pageList-item.active {
  // background-color: rgba(255, 255, 255, 0.2);
}

.pageList-item.active {
  font-weight: 500;
  color: $primary-2;
}
