@import '../../../scss/theme';

.articleFilters {
  width: 100%;
  padding: 0px 0px 8px 0px;
  border-bottom: 1px solid $border-color;
}

.articleFilters-header {
  position: relative;
  display: block;
  text-decoration: none;
  height: 40px;
  padding: 0px 24px;
  margin: 0; 
  user-select: none;
  cursor: pointer;
  @include ellipsis();

  span {
    float: left;
    color: $text-3;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 40px;
    font-weight: 500;
  }

  .articleFilters-expandIcon {
    float: right;
    color: $text-2;
    line-height: 40px;
    width: 24px;
    height: 40px;
    transition: transform 0.2s ease-in;
  }

}

.articleFilters-body {
  animation: fadeIn 0.6s 1;
}

.articleFilters.hidden {

  .articleFilters-header {

    .articleFilters-expandIcon {
      transform: rotateX(-180deg);
    }
  }
  .articleFilters-body {
    display: none;
  }
}