@import '../../scss/theme';

.drawer-container {
  position: relative;
  z-index: 99;
  height: 100vh;
  width: 40%;
  max-width: 280px;

  @media (max-width: $screen-sm-max) {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    max-width: none;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
  }
}
.drawer-container::after {
  @media (max-width: $screen-sm-max) {
    display: block;
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);

    opacity: 0;
    will-change: opacity;
    transition: opacity 0.4s $anim-easing;
  }
}
.drawer-container.active {
  @media (max-width: $screen-sm-max) {
    pointer-events: auto; 
  }
}
.drawer-container.active::after {  
  @media (max-width: $screen-sm-max) {
      opacity: 1;
  }
}
.drawer {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100%;
  transition: transform 0.4s $anim-easing;
  background-color: #fff;
  box-shadow: 0px 0 0.2rem rgba(0,0,0,0.2);

  @media (max-width: $screen-sm-max) {
    box-shadow: 2px 0 12px rgba(0,0,0,0.4);
    left: 0;
    top: 0;
    max-width: 400px;
    width: 80%;
    transform: translateX(-107%);
    will-change: transform;
  }
}
.drawer.draggable {
  transition: transform 0.13s cubic-bezier(0,0,0.3,1);
}
.drawer-container.active .drawer {
  @media (max-width: $screen-sm-max) {
    transform: translateX(0px);
  }
}
.drawer-logo {
  display: block;
  background-color: $primary-1;

  img {
    width: 100%;
  }
}
.drawer-divider {
  border: 1px solid #e6e6e6;
  border-bottom: none;
  margin: 0;
}
.search-container {
  padding: 0px 12px 14px;
  background-color: $primary-1;
}
.search-label {
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 8px;
  border-radius: 2px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out;
}
.search-icon {
  height: 24px;
  width: 24px;
  color: $accent-1;
  opacity: 0.8;
  transition: all .2s cubic-bezier(.4,0,.2,1);
}
.search-closeIcon {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transition: all .2s cubic-bezier(.4,0,.2,1);
  display: flex;
  align-items: center;

  i {
    padding: 8px;
    font-size: 18px;
  }
}
.search-input {
  position: relative;
  height: 30px;
  outline: 0;
  border: none;
  flex: 1;
  padding: 4px 22px 4px 4px;
  // border-bottom: 1px solid $accent-1;
  overflow: hidden;
  font-size: 14px;
}
.search-label:after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 24px;
  height: 2px;
  background-color: $accent-1;
  width: 10px;
  visibility: hidden;

  transition: all .2s cubic-bezier(.4,0,.2,1);
}
.search-label:hover, .search-label.focused {
  box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
}
.search-label.focused .search-icon, .search-label.non-empty .search-icon {
  opacity: 1;
}
.search-label.focused::after {
  // visibility: visible;
  // width: calc(100% - 24px);
}
.search-label.non-empty .search-closeIcon {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.icon-container {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.articleFilters-wrapper {
  background-color: #fff;
}
.pageList-wrapper {
  background-color: #fff;
  flex: 1;
  padding: 0px 0px 18px;
  overflow: auto;
}
.pageList {
  // min-height: 900px;
}
.drawer-footer {
  height: 200px;
  background-color: #fcfcfc;
}
