@import '../../../../scss/theme';
@import '../markdown-container/markdown-container';

.homepage-container {
  animation: fadeIn .6s 1;

  .share {
    display: inline-block;
    height: 28px;
    width: 28px;

    i {
      position: relative;
      width: 100%;
      height: 100%;
      font-size: 28px;
    }
    .facebook {
      color: #3B5998;
    }
    .twitter {
      color: #4099FF;
    }
  }
}