
@import '../../scss/theme';
@import '../../scss/typography';

.footer {
  position: relative;
  z-index: 10;
  padding: 16px;
  width: 100%;
  background: $drawer-bg;
  color: $body-text;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.2);

  &.isLoading {
    display: none;
  }

  &.searchOpen {
    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }

  .section {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    word-break: break-word;
    background-color: $drawer-bg;

    @media (max-width: $screen-sm-max) {
      width: 100%;
    }

    p {
      @include light-14();

      a {
        color: $primary-light;
        text-decoration: none;
      }

      .facebook, .twitter {
        margin-right: 8px;

        img {
          height: 16px;
          transition: all 0.2s linear;
        }

        &:hover {
          img {
            opacity: 0.8;
          }
        }
        &:active {
          img {
            transform: scale(0.94);            
          }
        }
      }
    }

    h1 {
      @include regular-14();
    }
  }

  .section:nth-child(1) {
    @media (min-width: $screen-sm-max) {
      padding-right: 24px;
      border-right: 1px solid $border-color;
    }
  }
  .section:nth-child(2) {
    @media (min-width: $screen-sm-max) {
      padding-left: 24px;
    }
  }
}
