@import '../../../scss/theme';

.drawer-toggle {
    display: none;
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    padding: 10px;

    @media (max-width: $screen-sm-max) {
        display: block;
    }
}
.drawer-toggle i {
    font-size: 30px;
    line-height: 30px;
    color: #3d3d3d;
}