@import '../../scss/theme';

.main {
  position: relative;
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  background-color: $body;
}
.main-content {
  flex: 1;
  padding: 16px 64px 32px;

  @media (max-width: $screen-sm-max) {
    padding: 0 16px 16px;
  }

  &.loading-view {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}