$primary-1: #FFB300;
$primary-2: #2196F3;
$accent-1: #373737;

$anim-easing: cubic-bezier(0.4, 0, 0.2, 1);

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

$screen-sm-max: 500px;
