@import '../../../scss/theme';

.header {
    position: relative;
    padding: 16px 72px;
    z-index: 100;
    width: 100%;
    background-color: $accent-3;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);

    @media (max-width: $screen-sm-max) {
        padding: 16px 16px 16px 48px;
    }
}

.toggle-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 16px;
    height: 100%;
    width: 48px;

    @media (max-width: $screen-sm-max) {
        left: 0;
    }
}

.title {
    display: block;
    width: 100%;
    color: $text-2;
    font-size: 18px;
    @include ellipsis();
}