@import '../../scss/theme';

.header {
    position: relative;
    padding: 16px 24px 16px 72px;
    z-index: 100;
    width: 100%;
    background-color: $primary-1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @include headerShadow();

    @media (max-width: $screen-sm-max) {
        padding: 16px 24px 16px 48px;
    }
}

.toggle-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 48px;

    @media (min-width: $screen-sm-max) {
        left: 16px;
    }
}

.title {
    display: block;
    flex: 1;
    padding-right: 8px;
    color: $primary-1-text;
    font-size: 18px;
    transition: all 0.2s linear;
    @include ellipsis();

    .title-detail {
        text-transform: capitalize;
    }
}

.header.searchOpen {
    .title {
        @media (max-width: $screen-sm-max) {
            opacity: 0;
            padding: 0;
        }
    }

    .title-container {
        @media (max-width: $screen-sm-max) {
            width: 0;
        }
    }

    .search-container {
        @media (max-width: $screen-sm-max) {
            flex: 1;
        }
    }
}

.header.waterfallOpen {
    @media (max-width: $screen-sm-max) {
        box-shadow: none;
    }
}

